:root {
  --white: hsl(0, 0%, 100%);
  --header-size: 1.375rem;
  --paragraph-size: 0.9375rem;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-family: "Outfit", sans-serif; */
  height: 100vh;
  /* background-color: var(--light-gray); */
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  /* color: hsl(228, 45%, 44%); */
}
